<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Editar Barbeiros</title>
</head>
<body>
    <div class="edit">
        <h1>Editar Barbeiros</h1>
        <a href="/"> Menu</a>
        <a href="/barbeiro/listar">Voltar</a>
        <br>
        <br>
        <form th:action="@{/salvarBarbeiro}" th:object="${barbeiro}" method="POST" id="formBarbeiro">
            
            <label>ID:</label> <span th:text="${barbeiro.idBarbeiro}"></span>
            <br>
            <input type="hidden" th:value="${barbeiro.idBarbeiro}" th:field="${barbeiro.idBarbeiro}" name="idBarbeiro" />
            
            <label>Nome:</label>
            <input type="text" placeholder="Nome" th:value="${barbeiro.nome}" name="nome" required/>
            <br>
            <label>Telefone:</label>
            <input type="text" placeholder="Telefone" th:value="${barbeiro.telefone}" name="telefone" required/>
            <br>
            <label>Idade:</label>
            <input type="text" placeholder="Idade" th:value="${barbeiro.idade}" name="idade" required/>
            <br>
            <label>Salário:</label>
            <input type="text" placeholder="Salário" th:value="${barbeiro.salario}" name="salario" required/>

            <input type="hidden" th:value="${barbeiro.agendamento}" th:field="${barbeiro.agendamento}" name="agendamento" />
            <input type="hidden" th:value="${barbeiro.especializacao}" th:field="${barbeiro.especializacao}" name="especializacao" />


               

            <br>
            <br>
            <input type="submit" value="Salvar" />
            <input type="reset" value="Cancelar" />
            <br>
            <br>

            Especializações:
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
                
                <tr th:each="especializacao : ${barbeiro.especializacao}">
                    <td th:text="${especializacao?.idEspecializacao}"></td>
                    <td th:text="${especializacao?.nome}"></td>
                    <td th:text="${especializacao?.descricao}"></td>
                    <td> <a th:href="@{'/removerBarbeiroEspecializacao/' + ${barbeiro.idBarbeiro} + '/' + ${especializacao.idEspecializacao}}">Remover</a> </td>

                </tr>
                
            </table>
            <br>
            <br>
            Agendamentos:
            <table>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Remover</th>
                </tr>
                
                <tr th:each="agendamento : ${barbeiro.agendamento}">
                    <td th:text="${agendamento?.idAgendamento}"></td>
                    <td th:text="${agendamento?.data}"></td>
                    <td th:text="${agendamento?.hora}"></td>
                    <td> <a th:href="@{'/removerBarbeiroAgendamento/' + ${barbeiro.idBarbeiro} + '/' + ${agendamento.idAgendamento}}">Remover</a> </td>
                </tr>
                
            </table>

        </form>
    </div>
</body>
</html>