<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Barbeiro</title>
</head>
<body>
    <div class="container">
        <header class="title">
            <h1>Barbeiro</h1>
            <a href="/">Menu</a>
            <br>
        </header>

        
        <main class="register-container">
            <form th:action="@{/salvarBarbeiro}" th:object="${barbeiro}" method="POST">
                <div>
                    <input type="text" placeholder="Insira o nome" name="nome" required/>
                    <input type="text" placeholder="Insira o telefone" name="telefone" required/>
                    <input type="text" placeholder="Insira a idade" name="idade" required/>
                    <input type="text" placeholder="Insira o salário" name="salario" required/>
                    <br>
                    <br>
                    <button id="salvar" type="submit"> Salvar </button>
                </div>
            </form>
            <div class="alert" th:if="${erro}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${erro}"></p>
            </div>
            <br>
            <div class="alert" th:if="${erro2}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p th:text="${erro2}"></p>
            </div>
        </main>

        <aside class="tableContainer">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Idade</th>
                    <th>Salário</th>
                    <th>Detalhes</th>
                    <th>Editar</th>
                    <th>Remover</th>
                    
                </tr>
                <tr th:each="barbeiro : ${barbeiros}">
                    <td th:text="${barbeiro.idBarbeiro}"></td>
                    <td th:text="${barbeiro.nome}"></td>
                    <td th:text="${barbeiro.telefone}"></td>
                    <td th:text="${barbeiro.idade}"></td>
                    <td th:text="${barbeiro.salario}"></td>
                    <td> <a th:href="@{'/detalhesBarbeiro/' + ${barbeiro.idBarbeiro}}">Detalhes</a> </td>
                    <td> <a th:href="@{'/editarBarbeiro?idB=' + ${barbeiro.idBarbeiro}}">Editar</a> </td>
                    <td> <a th:href="@{'/removerBarbeiro?idB=' + ${barbeiro.idBarbeiro}}">Remover</a> </td>
                </tr>
            </table>
        </aside>
            
        <footer>
            
        </footer>

    </div>
</body>
</html>