<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Detalhes Barbearia</title>
</head>
<body>
    <div class="detalhes">
        <h1>Detalhes da Barbearia</h1>
        <a href="/">Menu</a>
        <a href="/barbearia/listar">Barbearias</a>

        <br>
        <br>

        <b>ID da Barbearia: </b> <span th:text="${barbearia.idBarbearia}"></span>
        <br><b>Nome: </b> <span th:text="${barbearia.nome}"></span>
        <br><b>Endereço: </b> <span th:text="${barbearia.endereco}"></span>
        <br><b>Telefone: </b> <span th:text="${barbearia.telefone}"></span>
        <br><b>CNPJ: </b> <span th:text="${barbearia.cnpj}"></span>

        <br>
        <br>


        <form th:action="@{/associarFuncionario(codB=${barbearia.idBarbearia})}" method="POST">
            <label><b>Funcionarios: </b></label>
            <select name="idBarbeiro" required>
                <option value="">Escolha o funcionario</option>
                <option th:each="funcionario:${funcionarios}"
                            th:value="${funcionario.idBarbeiro}"
                            th:text="${funcionario.nome}">
                </option>
            </select>
            <input type="submit" value="Associar Funcionario" />
        </form>
        <br>
        Funcionarios:
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Salário</th>
            </tr>
            <tr th:each="funcionario : ${barbearia.funcionarios}">
                <td th:text="${funcionario.idBarbeiro}"></td>
                <td th:text="${funcionario.nome}"></td>
                <td th:text="${funcionario.telefone}"></td>
                <td th:text="${funcionario.idade}"></td>
                <td th:text="${funcionario.salario}"></td>
            </tr>

        </table>
    </div>
</body>
</html>