<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Detalhes Barbeiro</title>
</head>
<body>
    <div class="detalhes">
        <h1>Detalhes do Barbeiro</h1>
        <a href="/">Menu</a>
        <a href="/barbeiro/listar">Barbeiros</a>

        <br>
        <br>

        <b>ID do Funcionario: </b> <span th:text="${barbeiro.idBarbeiro}"></span>
        <br><b>Nome: </b> <span th:text="${barbeiro.nome}"></span>
        <br><b>Telefone: </b> <span th:text="${barbeiro.telefone}"></span>
        <br><b>Idade: </b> <span th:text="${barbeiro.idade}"></span>
        <br><b>Salário: </b> <span th:text="${barbeiro.salario}"></span>

        <br>
        <br>
        <form th:action="@{/associarEspecializacao(codB=${barbeiro.idBarbeiro})}" method="POST">
            <label><b>Especializacoes: </b></label>
            <select name="idEspecializacao" required>
                <option value="">Escolha a especializacao</option>
                <option th:each="especializacao:${especializacoes}"
                            th:value="${especializacao.idEspecializacao}"
                            th:text="${especializacao?.nome}">
                </option>
            </select>
            <input type="submit" value="Associar especializacao" />
        </form>

        <br>
        <br>

        Especializacoes:
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
            
            <tr th:each="especializacao : ${barbeiro.especializacao}">
                <td th:text="${especializacao?.idEspecializacao}"></td>
                <td th:text="${especializacao?.nome}"></td>
                <td th:text="${especializacao?.descricao}"></td>
            </tr>
            
        </table>


        <br>
        <br>

        Agendamentos:
        <table>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Hora</th>
            </tr>
            
            <tr th:each="agendamento : ${barbeiro.agendamento}">
                <td th:text="${agendamento?.idAgendamento}"></td>
                <td th:text="${agendamento?.data}"></td>
                <td th:text="${agendamento?.hora}"></td>
            </tr>
            
        </table>
    </div>
</body>
</html>