<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Barbeiro</title>
</head>
<body>
    <div class="templatePadrao">
        <h1>Barbeiro</h1>
    <a href="/">Menu</a>
    <br>
    <div th:if="${erro}">
        <strong th:text="${erro}"></strong>
        <span id="x" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <br>
    <div th:if="${erro2}">
        <strong th:text="${erro2}"></strong>
        <span id="x" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <br>
    <br>
    <form th:action="@{/salvarBarbeiro}" th:object="${barbeiro}" method="POST">
        <label>Nome: </label>
        <input type="text" placeholder="Insira o nome" name="nome" required/>
        <label>Telefone: </label>
        <input type="text" placeholder="Insira o telefone" name="telefone" required/>
        <label>Idade: </label>
        <input type="text" placeholder="Insira a idade" name="idade" required/>
        <br>
        <br>
        <label>Salário: </label>
        <input type="text" placeholder="Insira o salário" name="salario" required/>
        <br>
        <br>
        
        <br>
        <br>
        
        <input id="salvar" type="submit" value="Salvar"/>

    </form>

    <br>
    <br>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Remover</th>
            
        </tr>
        <tr th:each="barbeiro : ${barbeiros}">
            <td th:text="${barbeiro.idBarbeiro}"></td>
            <td th:text="${barbeiro.nome}"></td>
            <td th:text="${barbeiro.telefone}"></td>
            <td th:text="${barbeiro.idade}"></td>
            <td th:text="${barbeiro.salario}"></td>
            <td> <a th:href="@{'/detalhesBarbeiro/' + ${barbeiro.idBarbeiro}}">Detalhes</a> </td>
            <td> <a th:href="@{'/editarBarbeiro?idB=' + ${barbeiro.idBarbeiro}}">Editar</a> </td>
            <td> <a th:href="@{'/removerBarbeiro?idB=' + ${barbeiro.idBarbeiro}}">Remover</a> </td>
        </tr>
    </table>
    </div>
</body>
</html>